@using TamKafadan.ViewModels
@model HomeMakaleViewModel

@{
    ViewData["Title"] = "Tam Kafadan";
}
@if (TempData["mesaj"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["mesaj"]
    </div>
}

@{
    var kadi = Context.Session.GetString("kullaniciAdi");
}
<style>
    p {
        color: black;
    }
</style>


@if (kadi == null)
{
    <div class=row>
        <div class="col-2">
            <img class=img-fluid src="~/images/kalem-kafa.png">
        </div>
        <div class="text-center col-8">

            <h5>
                Kafandakileri Getir Tam Kafana Göre Olanları Götür
            </h5>
            <p>Makale Yaz seçeneğine tıklayarak hemen kafandakileri en kafa kullanıcılar ile paylaşabilirsin. </p>
            <p>Bunu yapmadan önce tek istediğimiz şey email adresin ile giriş yapman haydi başlayalım.</p>
            <p><a asp-area="" asp-controller="Home" asp-action="Privacy">Daha Fazla Bilgi İçin Tıkla</a></p>
        </div>
        <div class="col-2">
            <img class=img-fluid src="~/images/kalem-kafa.png">
        </div>
    </div>
  



}

else
{
    <div class="text-center">

        <h5>
            Kafandakileri Getir Tam Kafana Göre Olanları Götür
        </h5>
        <p>Hoşgeldin @kadi</p>
    </div>

}
<hr />
<h4 class=text-center>Bu Ayın En Çok Kafalanan 6 Makalesi</h4>
<hr />
<div class="row">
    @foreach (var item in Model.EnCokOkunanBesMakale)
    {
      
           
        <div class="card col-lg-2">
            <div class="card-body">
                <a asp-action="MakaleOku" asp-controller="Makale" asp-route-makaleId="@item.MakaleId" class="text-secondary font-italic"> <h5 class="card-title">@item.Baslik</h5></a>
           <a  href="/@item.Yazar.KullaniciAdi"> <p class="card-subtitle mb-2 text-muted text-center"><img width="50px" src="~/images/@item.Yazar.ResimYolu" class="img-fluid" >@item.Yazar.YazarAd</p></a>
                <p class="card-text">
                    @if (item.Icerik.Length > 120)
                    {
                        @item.Icerik.Substring(0, 120)<a asp-action="MakaleOku" asp-controller="Makale" asp-route-makaleId=@item.MakaleId>..Devamı</a>
                    }
                    else
                    {
                        @item.Icerik
                    }
                </p>
            </div>
                <div class="card-subtitle text-center font-italic">@item.OlusuturulmaZamani.ToShortDateString()  <br/> <i class="fa-solid fa-eye"></i> @item.GoruntulenmeSayisi</div>
        </div>
       
    }


</div>
<hr />
<h4 class=text-center>Her Konudan Her Kafadan</h4>
<hr />
@foreach (var konu in Model.AnaSayfaMakaleleri)
{
    if (konu.Makaleler.Count > 0)
    {

        <hr />
        <h2>@konu.KonuAdi</h2>
            <div class="row">
        @foreach (var item in konu.Makaleler.Take(6))
        {
                <div class="card col-xl-2">
                       <div class="card-body">
                <a asp-action="MakaleOku" asp-controller="Makale" asp-route-makaleId="@item.MakaleId" class="text-secondary font-italic"> <h5 class="card-title">@item.Baslik</h5></a>
               <a  href="/@item.Yazar.KullaniciAdi"> <p class="card-subtitle mb-2 text-muted text-center"><img  width="50px"  src="~/images/@item.Yazar.ResimYolu" class="img-fluid" >@item.Yazar.YazarAd</p></a>
                <p class="card-text">
                    @if (item.Icerik.Length > 120)
                    {
                        @item.Icerik.Substring(0, 120)<a asp-action="MakaleOku" asp-controller="Makale" asp-route-makaleId=@item.MakaleId>..Devamı</a>
                    }
                    else
                    {
                        @item.Icerik
                    }
                </p>
            </div>
                  <div class="card-subtitle text-center font-italic">@item.OlusuturulmaZamani.ToShortDateString()  <br/> <i class="fa-solid fa-eye"></i> @item.GoruntulenmeSayisi</div>
                </div>
        }
            </div>
    }
}








